@{
    ViewBag.Title = "Home Page";
}
<div class="row">

    <input id="Id" type="text" placeholder="Id" />
    <input id="JsonRpc" type="text" placeholder="JsonRpc" />
    <select id="Method">
        <option value="SetM">SetM</option>
        <option value="GetM">GetM</option>
        <option value="AddM">AddM</option>
        <option value="SubM">SubM</option>
        <option value="MulM">MulM</option>
        <option value="DivM">DivM</option>
        <option value="ErrorExit">ErrorExit</option>
    </select>
    <input id="Key" type="text" placeholder="Key" />
    <input id="Value" type="text" placeholder="Value" />

    <button onclick="InvokeRPC()">Invoke RPC</button>

    <hr />
    <div id="result">

    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        async function InvokeRPC() {
            const result = await fetch("http://localhost:54466/api/JRService/Single", {
                method: "POST",
                headers: {
                    ["Content-Type"]: "application/json"
                },
                body: JSON.stringify({
                    Id: document.getElementById('Id').value,
                    JsonRpc: document.getElementById('JsonRpc').value,
                    Method: document.getElementById('Method').value,
                    Params: {
                        [document.getElementById('Key').value]: +document.getElementById('Value').value
                    }
                })
            })
            if (result.ok) {
                console.log("success");
                document.getElementById('result').innerHTML = JSON.stringify(await result.json());
            }
        }
    </script>
</div>