<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SimplexSoap" />
                <binding name="BasicHttpBinding_IWCFSiplex" />
                <binding name="BasicHttpBinding_IWCFSiplex1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SimplexSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWCFSiplex">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25085/Simplex.asmx" binding="basicHttpBinding"
                bindingConfiguration="SimplexSoap" contract="ASMXServiceLab4.SimplexSoap"
                name="SimplexSoap" />
            <endpoint address="http://localhost:25085/Simplex.asmx" binding="customBinding"
                bindingConfiguration="SimplexSoap12" contract="ASMXServiceLab4.SimplexSoap"
                name="SimplexSoap12" />
            <endpoint address="http://localhost:59122/WCFSiplex.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFSiplex" contract="WCFService.IWCFSiplex"
                name="BasicHttpBinding_IWCFSiplex" />
            <endpoint address="http://localhost:8080/MyService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWCFSiplex1" contract="NetTcpBindingConsole.IWCFSiplex"
                name="BasicHttpBinding_IWCFSiplex1" />
            <endpoint address="net.tcp://localhost:8090/MyService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWCFSiplex" contract="NetTcpBindingConsole.IWCFSiplex"
                name="NetTcpBinding_IWCFSiplex">
                <identity>
                    <userPrincipalName value="DEFENDER-SD\Defender" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
